In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dfval = pd.read_csv('Train.csv')

In [21]:
data =  dfval.values

In [24]:
X = data[:,:5]

In [26]:
Y = data[:,-1]

In [27]:
print(Y.shape)

(1600,)

In [37]:
Y = np.reshape(Y,(1600,-1))

In [38]:
Y.shape

(1600, 1)

In [39]:
X.shape

(1600, 5)

In [42]:
ones = np.ones((X.shape[0],1))
X_ = np.hstack((X,ones))
print(X_.shape)
print(X_[:5,:])

(1600, 6)
[[ 0.29341624 -0.94559871 -0.42110515  0.40681602  0.52566183  1.        ]
 [-0.83608408 -0.18922804 -0.77640262 -1.05383124  0.59799685  1.        ]
 [ 0.23642511  0.13283602 -0.14772298  0.69985396 -0.18736416  1.        ]
 [ 0.17531181  0.14319424 -0.58111096 -0.12210693 -1.29216807  1.        ]
 [-1.69301097  0.54271187 -2.79872942 -0.68672304  1.24407683  1.        ]]

In [43]:
def predict(X,theta):
    return np.dot(X,theta)

def getThetaClosedForm(X,Y):
    
    Y = np.mat(Y)
    firstPart = np.dot(X.T,X)
    secondPart = np.dot(X.T,Y)
    
    theta = np.linalg.pinv(firstPart)*secondPart
    return theta

In [44]:
theta = getThetaClosedForm(X_,Y)

In [45]:
print(theta)

[[29.68187118]
 [92.66247759]
 [ 8.28062089]
 [44.76773522]
 [ 2.51916121]
 [ 4.99096674]]

In [49]:
test = pd.read_csv('Test.csv')

In [50]:
test.head()

   feature_1  feature_2  feature_3  feature_4  feature_5
0   1.015254   2.076209  -0.266435  -2.418088  -0.980503
1  -0.375021   0.953185   0.626719   0.704406  -0.355489
2  -1.024452   0.962991  -0.407942  -1.861274   0.455201
3  -2.489841   0.544802   0.601219  -0.607021  -1.314286
4  -0.384675  -0.833624   1.358552  -0.547932   0.411925

In [51]:
Test = test.values

In [53]:
print(Test.shape)

(400, 5)

In [54]:
ones = np.ones((Test.shape[0],1))
Test_ = np.hstack((Test,ones))
print(Test_.shape)
print(Test_[:5,:])

(400, 6)
[[ 1.01525387  2.07620944 -0.26643482 -2.4180882  -0.98050279  1.        ]
 [-0.3750212   0.95318453  0.62671914  0.70440575 -0.35548921  1.        ]
 [-1.02445225  0.96299111 -0.407942   -1.86127383  0.45520135  1.        ]
 [-2.4898408   0.54480173  0.6012189  -0.60702147 -1.31428633  1.        ]
 [-0.38467471 -0.83362421  1.35855215 -0.54793205  0.41192542  1.        ]]

In [57]:
csv_data = [['Id,target']]
for n in range(Test_.shape[0]):
    pred = predict(Test_[n],theta)
    csv_data.append([int(pred)])

In [60]:
file = open('sample3.csv','w+')
for i,row in enumerate(csv_data):
    if i!=0:
        file.write(str(i-1)+','+str(row[0])+'\n')
    else:
        file.write(str(row[0])+'\n')
    
file.close()

In [58]:
print(csv_data[:5])

[['Id', 'target'], [114], [118], [-21], [-43]]